site_name: Smart Proxy
site_url: https://ivseb.github.io/smart-proxy
repo_url: https://github.com/ivseb/smart-proxy
repo_name: ivseb/smart-proxy
edit_uri: edit/main/docs/

theme:
  name: material
  logo: https://raw.githubusercontent.com/ivseb/smart-proxy/main/media/logo.png
  favicon: https://raw.githubusercontent.com/ivseb/smart-proxy/main/media/logo.png
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.code.copy
    - toc.integrate

nav:
  - Home: index.md
  - Starting:
    - Installation: installation.md
    - Configuration: configuration.md
  - Architecture: architecture.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
